@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: darkorange !important;
}

/* header */
.header {
  text-align: center;
  padding: 0.6rem;
}

.icon-div {
  position: relative;
  display: inline-block;
  border-radius: 4px !important;
}

.header .icon-div i {
  position: absolute;
  bottom: 0.6rem;
  left: 0.6rem;
  color: rgb(215, 71, 19);
}

.header input {
  width: 400px;
  padding: 0.3rem 2.4rem;
  font-size: 18px;
  border: none;

}

/* card */

.card {
  width: 300px;
 
}
.card img{
height: 330px;
}

.card img:hover{
  transform: scale(1.09, 1.054);
  padding: none;
}